.display {
    max-width: 20em;
    height: 5em;
    background-color: rgb(36, 34, 34);
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    
} 

p {
    padding: 15px;
    font-size: 2em;
    color: white;
    float: right;
}